#jobs-list {
  columns: 100px 3;
  -webkit-columns: 100px 3;
  -moz-columns: 100px 3;
}

#job-item {
    float: left;
    width: 100%;
}

.form{
    width:100%;
}

.jobs {
    width:100%;
}

.form-control{
    height: unset;
}

ul#skills_list{
  columns: 50px 5;
  -webkit-columns: 50px 5;
  -moz-columns: 50px 5;
  list-style-type: none;
}

ul#skills_list li{
    float: left;
    width: 100%;
}

.jobs-list-inside{
    display: none;
}